/* Wheel Menu */
.round-content{
    position: relative;
    margin: 5rem auto 0;
    /* width: 35rem;
    height: 35rem; */
    /* border-radius: 50%;
    border: 0.2rem lightseagreen solid; */
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.round-menu{
    position: relative;
    width: 50rem;
    height: 50rem;
    text-align: center;
    /* background-color: lightskyblue; */
    margin: auto;
    line-height: 2rem;
    border: 0.5rem solid #c2c4c6;
    border-radius: 50%;
}

.round-menu .round-city{
    margin: 4rem auto 1rem;
    width: 20rem;
    height: 20rem;
    line-height: 20rem;
    border-radius: 50%;
    /* border-color: #ffffff; */
    border: 0.3rem solid #f6f8f9;
    background-color: #ffffff;
}

.round-menu .round-temperature{
    position: relative;
}

.round-menu .round-weather{
    margin: 3rem 0 0;
    line-height: 0rem;
}

.round-menu .round-weather p{
    padding: 0 0 0;
}

.round-menu .round-weather img{
    width: 100%;
    max-width: 100%;
    width: 75px;
}

.round-menu hr:nth-child(2){
    position: absolute;
    width: 40rem;
    color: rgb(228, 231, 228);
    border: 0.3rem solid;
    border-radius: 1rem;
    transform: rotate(-45deg);
    top: 25rem;
    left: 4.5rem;
    z-index: -1;
}

.round-menu hr:nth-child(6){
    position: absolute;
    width: 40rem;
    color: rgb(228, 231, 228);
    border: 0.3rem solid;
    border-radius: 1rem;
    transform: rotate(45deg);
    top: 25rem;
    right: 4.5rem;
    z-index: -1;
}

.round-menu .round-country{
    position: relative;
    margin: auto;
    margin: 7rem 0 0;
}

.round-menu .round-descripton{
    position: relative;
}

.round-menu .round-descripton p{
    position: absolute;
    top: 13rem;
    right: 39rem;
}

.round-menu .round-temperature p{
    position: absolute;
    bottom: 17rem;
    left: 39rem;
}

/* Vitals Round Menu Section */
@media screen and (min-width: 350px) and (max-width: 469px){
    .round-menu .round-weather{
        margin: 1rem 0 0;
    }
    .round-menu .round-weather img{
        width: 40px;
    }
    .round-menu{
        width: 30rem;
        height: 30rem;
        border: 0.5rem solid #f2f4f6;
    }
    .round-menu .round-city{
        width: 15rem;
        height: 15rem;
        line-height: 15rem;
        margin: 2rem auto 1rem;
    }
    .round-menu .round-country{
        margin: 2rem 0 0;
        font-size: 1rem;
    }
    .round-menu hr:nth-child(2){
        top: 14.8rem;
        width: 25rem;
        left: 2rem;
    }
    .round-menu hr:nth-child(6){
        top: 14.8rem;
        width: 25rem;
        right: 2rem;
    }
    .round-menu .round-temperature p{
        bottom: 10rem;
        left: 23rem;
        font-size: 1rem;
    }
    .round-menu .round-descripton p{
        top: 9rem;
        right: 24rem;
        font-size: 1rem; 
    }
    .content-plain p{
        font-size: 1.2rem;
    }
}
